{% extends 'base.html.twig' %}

{% block title %}HikeSession{% endblock %}

{% block body %}
    <h1>HikeSession</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hike_session.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ hike_session.date ? hike_session.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ hike_session.notes }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ hike_session.createdAt ? hike_session.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hike_session_index') }}">back to list</a>

    <a href="{{ path('app_hike_session_edit', {'id': hike_session.id}) }}">edit</a>

    {{ include('hike_session/_delete_form.html.twig') }}
{% endblock %}
